body{
    background-image: url('./background.jpg');
    background-size: cover; /* 图片覆盖整个屏幕 */
    background-position: center; /* 图片居中显示 */
    background-repeat: no-repeat; /* 禁止重复 */
    background-attachment: fixed;
}
.el-row {
    margin-bottom: 20px;
  }
.el-row:last-child {
    margin-bottom: 0;
}
  
  
html.dark .el-menu {
    background-color: #1f1f1f;
    color: #ffffff;
}
  
html.dark .el-menu-item {
    color: #ffffff;
}
  
html.dark .el-menu-item:hover {
    background-color: #333;
}
  
html.dark .el-menu-item.is-active {
    background-color: #007bff;
}